* {
    box-sizing: border-box;
    background-color: azure;
}


header {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

section {
    padding: 0 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    margin: 0 5px;
    color: black;
    transition: color 0.4s;
}

a:hover {
    color: blue;
}

#images div {
   display: flex; 
}

table, tr, th, td {
    border: 1px solid black;
}
