body {
 margin: 0;
 padding: 0; 
 width: 100vw;
 height: 100vh;
 background-color: #444;
 display: flex;
 justify-content: center;
 align-items: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: #eee;
}

section div{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 20px;
  border: 1px solid #333;
  border-radius: 4px;
  width: 80px;
  height: 20px;
}

.error {
  color: red;
}

a {
  margin-top: 5px;
  color: black;
}